body {
    background: #171717;
  }

#content-wrap{
  display: none;
}

.error {
  color: red;
}

.private {
  color: gray;
  font-style: italic;
}

#chat {
  height: 400px; 
  overflow-y: auto; 
  border: 1px solid #ccc; 
  padding: 10px; 
}